{% extends "base.html.twig" %}

{% block body %}

	<div class="row justify-content-md-center mt-4 cardHeight ">

		<div class="col-3  mb-4">
			<div class="card mb-4 cardHeight">
				<h4 class="card-header text-center">{{books.title}}
				</h4>
				<div class="card-body">
					<div class="card-body text-center">
						<h6 class="text-center">Ecrit par
							{{books.author}}
						</h6>
						{# <h6 class="card-subtitle text-muted ">from the</h6> #}
						<p class="card-subtitle text-muted ">Crée le
							{{books.createdAt | date('d/m/Y' ) }}
						</p>
					</div>
					<img src="{{books.image}}" alt="" class=" articleImage text-center mt-2">
					<div class="card-body">
						<p class="card-text">{{books.resume | raw}}</p>
						<a href="{{path('book')}}" class="card-link btn btn-secondary">Retour</a>
					</div>

				</div>
			</div>
		</div>

	</div>
{% endblock %}
